body{
    background-color: cornsilk;
    font-family: sans-serif;
}

.add-note{
    background-color: #fdfdfd;
    border: 1px solid #ccc;
}

.notes {
    margin: 0.5em;
    padding-left: 0;
    max-width: 10em;
    /*line-style: none;*/
    list-style-type: none;
}

.note{
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #fdfdfd;
    box-shadow: 0 0 0.3em 0.03em rgba(0,0,0,0.3);
}

.note:hover {
    box-shadow: 0 0 0.3em 0.03em rgba(0,0,0,0.7);
    transition: 0.6s;
}

.note .task {
    display: inline-block;
}

.note .delete-note {
    float: right;
    font-size: 1.1em;
    background-color: #fdfdfd;
    border: none;
    cursor: pointer;
    visibility: visible;
}

.note:hover .delete-note {
    visibility: visible;
}